/* font-family: 'Dela Gothic One', sans-serif;
font-family: 'Roboto', sans-serif; */


h1 {
    font-family: 'DotGothic16', sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
    color: white;
    mix-blend-mode: difference;
}

body {
    background-color: yellow;
}